/* global container for each section */
.features_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 20px;
}

/* adaptation for phones */
@media (max-width : 720px) {
    .features_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding-top: 20px;
    }
}

/* a feature container */
.feature_container {
    display: flex;
    flex-direction: column;
    background: var(--sidebar-bg);
    color: #c8c9db;
    border-radius: 10px;
    padding: 10px;
}
 
.feature_name {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    font-size: large;
}

/* Tags */
.tag {
	display: inline;
	padding: 2px 10px 2px 10px;
	border-radius: 4px;
	font-size: small;
	text-align:center;
    font-weight: bold;
}

.tag_green {
    background-color: limegreen;
    color: white;
}
.tag_orange {
    background-color: orange;
    color: white;
}
.tag_blue {
    background-color: dodgerblue;
    color: white;
}
.tag_red {
    background-color: orangered;
    color: white;
}
.tag_gray {
    background-color: gray;
    color: white;
}