.footer-container {
    display: table;
    width: 100%;
}

.footer-text {
    padding: 30px;
    padding-left: 100px;
    display: table-cell;
    vertical-align: middle;
    font-style: italic;
    font-size: small;
    opacity: 0.5;
}

.footer-link {
    display: contents;
}