.footer-container {
    display: table;
    width: 100%;
}

.footer-text {
    padding: 30px;
    display: table-cell;
    vertical-align: middle;
    /*text-align: center;*/
    font-style: italic;
    font-size: small;
    opacity: 0.5;
}

.footer-link {
    display: contents;
}