/* hide top bar */
#menu-bar, #menu-bar-hover-placeholder {
    margin: 0;
    display: none;
}
/* hide side bar */
#sidebar {
    display: none;
}
/* take the whole space */
.page {
    padding: 0;
}

.content {
    padding: 0;
}

.content main {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}
/* background image */
.home-background {
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url("https://rpgpowerforge.com/media/home/background.jpg");
}

.div-blur {
    backdrop-filter: blur(15px);
}

.home-text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: white;
}

.home-community {
    position: absolute;
    left: 50%;
    top: 70%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ==================================================================================== */
/* ANIMATIONS */

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1896px, 0, 0); /* The background image width */
    }
}