
/**{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #151320;
    height: 100vh;
    display: grid;
    place-items: center center;
    font-family: 'Poppins',sans-serif;
}*/

.next {
    display: none;
}

.content main {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding: 20px;
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    background-color: var(--quote-bg);
    border-radius: 20px;
    /*box-shadow: 0 0 30px rgba(0,0,0,0.3);*/
    border: white;
    border-style: solid;
    transition: transform .2s;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.03);
}

.card-image{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.card-image>img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.card-image:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1>.card-image:after{
    background-image: linear-gradient(
        135deg,
        #0100ec20,
        #fb36f480
    );
}
.card2>.card-image:after{
    background-image: linear-gradient(
        135deg,
        #2bdce310,
        #42ffdb90
    );
}
.card3>.card-image:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d60,
        #f8501c90
    );
}
.card-text{
    padding: 20px 10px;
}
.card-text>h3{
    color: var(--fg);
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.card-text>p{
    color: var(--fg);
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}