/* join community button */

.join-community-container {
    display: block;
}

.join-community-text {
    display: block;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 10px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: larger;
    color: white;
    border-style: solid;
    border-color: white;
    transition: 0.2s;
}

.join-community-text:hover {
    background-color: dodgerblue;
}

.join-community-text>a {
    all: unset;
    cursor: pointer;
}