/* join community button */

.join-community-container {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.join-community-text {
    display: block;
    background-color: #2196f3;
    backdrop-filter: blur(10px);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: large;
    color: white;
   
    overflow: hidden;
    transition: 0.2s;
}

.join-community-text:hover {
    background-color: #0e67f5;
}

.join-community-text>a {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 11;
    white-space: nowrap;
    transform: translateX(-10%);
    transition: transform 0.3s ease;
}

.join-community-text:hover a {
    transform: translateX(10%);
}