/* join community button */

.join-community-container {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.join-community-text {
    display: block;
    background-color: rgba(33, 150, 243, 0.6);
    backdrop-filter: blur(10px);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: large;
    color: white;
    /* border-style: solid; */
    border-color: white;
    transition: 0.2s;
}

.join-community-text:hover {
    background-color: dodgerblue;
}

.join-community-text>a {
    all: unset;
    cursor: pointer;
}