
/* hide side nav buttons */
.nav-chapters {
    display: none;
}

.content main {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding: 20px;
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    background-color: var(--quote-bg);
    border-radius: 20px;
    /*box-shadow: 0 0 30px rgba(0,0,0,0.3);*/
    border: white;
    /*border-style: solid;*/
    transition: transform .2s;
    /*filter: grayscale(0.5);*/
}

.card:hover{
    transform: scale(1.03);
    /*filter: grayscale(0);*/
}

.card-image{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.card-image>img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.card-image:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.card-text{
    padding: 20px 10px;
}
.card-text>h3{
    color: var(--fg);
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.card-text>p{
    color: var(--fg);
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

/* tags */
.tags_container {
    width: 100%;
}

.tag {
    display: inline-block;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: small;
    border-radius: 20px;
    opacity: 0.8;
    color: white;
}