/* improve main page */
main {
    border-radius: 20px;
    border: 2px solid var(--sidebar-bg);
    padding-left: 25px;
    padding-right: 25px;
}

/* improve quotes */
blockquote {
    border-radius: 20px;
}

/* remove print button */
.right-buttons {
    display: none;
}

/* link top title */
.menu-title {
    transition: 0.1s;
}

/* link top title */
.menu-title>a {
    text-decoration: none;
    color: var(--sidebar-active);
}

.menu-title:hover {
    font-weight: bold;
}