/* improve main page */
main {
    border-radius: 20px;
    border: 2px solid var(--sidebar-bg);
    padding-left: 25px;
    padding-right: 25px;
}

/* improve quotes */
blockquote {
    border-radius: 20px;
}

/* remove print button */
.right-buttons {
    display: none;
}

/* center top title */
.menu-title {
    position: absolute;
    width: 100%;
}