/* ============================================================================ */
/* ROOT CONTAINER */
.overview_container {
    width: 1500px;
    height: 500px;
  }
  
  /* ============================================================================ */
  /* PANEL CONTAINER */
  .panel {
    border: 2px black solid;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    width:228px;
    height:150px;
    position: absolute;
    background-color: red;
    opacity: 75%;
  }
  
  /* ============================================================================ */
  /* ANY OVERVIEW */
  .overview {
    background-size: cover;
  }
  .overview:hover {
    opacity: 100%;
  }
  
  /* ============================================================================ */
  /* LEFT AND RIGHT PANELS */
  .overview_panel {
    width: 240px;
    height: 100%;
    background-color: blue;
    display: inline-block;
  }
  
  /* ============================================================================ */
  /* UNITY EDITOR */
  .overview_unity_editor {
    width: 1000px;
    height: 100%;
    display: inline-block;
    background-size: cover;
    background-image:url("https://i.ibb.co/82Pz6Q8/unity-editor.png");
  }
  
  /* ============================================================================ */
  /* HIERARCHY OVERVIEW */
  .overview_hierarchy {
    width: 190px;
    height: 319px;
    position: relative;
    top:-184.9%;
    background-image:url("https://i.ibb.co/L5ycvcX/hierarchy.png");
    opacity: 50%;
  }
  
  /* ============================================================================ */
  /* ASSET PICKER OVERVIEW */
  .overview_asset_picker {
    width: 800px;
    height: 144px;
    position: relative;
    top:71.5%;
    background-image:url("https://i.ibb.co/g4vQ03L/asset-picker.png");
    opacity: 50%;
  }
  
  /* ============================================================================ */
  /* TOOLBAR OVERVIEW */
  .overview_toolbar {
    width: 808px;
    height: 36px;
    position: relative;
    top:-28.8%;
    left:19.2%;
    background-image: url("https://i.ibb.co/KKS27xv/toolbar.png");
    opacity: 50%;
  }
  
  /* ============================================================================ */
  /* SCENE OVERVIEW */
  .overview_scene {
    width: 608px;
    height: 320px;
    position: relative;
    top:-28.8%;
    left: 19.2%;
    background-image: url("https://i.ibb.co/6PZ2wrv/scene.png");
    opacity: 50%;
  }
  
  /* ============================================================================ */
  /* BEHAVIOR OVERVIEW */
  .overview_behavior {
    width: 200px;
    height:300px;
    position: relative;
    top:-92.4%;
    left: 80%;
    background-image: url("https://i.ibb.co/XWwPVCr/behaviors.png");
    opacity: 50%;
  }
  
  /* ============================================================================ */
  /* PROPERTIES OVERVIEW */
  .overview_properties {
    width: 200px;
    height: 164px;
    position: relative;
    top:-92.6%;
    left: 80%;
    background-image: url("https://i.ibb.co/0JB7JHc/properties.png");
    opacity: 50%;
  }
  
  /* ============================================================================ */
  /* PANEL POSITIONS */
  .panel_toolbar {
    top:0%;
    left:100.4%;
  }
  
  .panel_behavior {
    top:42.8%;
    left:102.3%;
  }
  
  .panel_asset_picker {
    top:-20%;
    left:-30.6%;
  }
  
  .panel_properties {
    top:-4%;
    left:102.3%;
  }
  
  .panel_scene {
    top:-11.1%;
    left:-71.9%;
  }
  
  .panel_hierarchy {
    top:39%;
    left:-128.9%;
  }