/* chapters are closer together */
.chapter li.chapter-item {
    line-height: 1.3em;
}

/* parts title are bigger */
.chapter li.part-title {
    font-size: 20px;
}

/* parts title hover*/
.chapter li.part-title:hover {
    color: var(--sidebar-active);
}

/* pointer to toggle visibility */
.part-title {
    cursor: pointer;
}

/* part title style*/
.button-summary {
    background-color: var(--bg);
    border: none;
    color: var(--fg);
    padding: 6px;
    width: 100%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

/* section style */
.section {
    padding-bottom: 5px;
}