/* chapters are closer together */
.chapter li.chapter-item {
    line-height: 1.3em;
}

/* parts title are bigger */
.chapter li.part-title {
    font-size: 20px;
}

/* parts title hover*/
.part-title li.active {
    color: var(--sidebar-active);
}

/* pointer to toggle visibility */
.part-title {
    cursor: pointer!important;
}

/* part title style*/
.button-summary {
    background-color: var(--sidebar-bg);
    border: none;
    color: var(--fg);
    padding: 10px 0px 0px 0px;
    width: 100%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

/* section style */
.section {
    padding: 10px 0px 10px 0px;
}

.summary-title-container{
    font-weight: bold;
}

.summary-title{
    font-weight: bold;
    font-size: x-large;
}

.summary-subtitle{
    font-weight: normal;
    font-style: italic;
}