/* ----------------------------------------------------------------*/
/* space chapter items */
.chapter li>div {
    padding: 3px 10px 3px 10px;
    display: block;
    width: 100%;
    height: 100%;
}
.chapter li>a {
    padding: 3px 10px 3px 10px;
    display: block;
    width: 100%;
    height: 100%;
}
.chapter li.chapter-item {
    margin-top: 0.2em;
}

/* ----------------------------------------------------------------*/
/* chapters feedback on hover */
.chapter li>a:hover {
    background-color: var(--table-header-bg);
    border-radius: 3px;
    color: white /* text color */
}
/* chapters feedback on active */
.chapter li>a.active {
    background-color: var(--table-header-bg);
    border-radius: 3px;
}
/* ----------------------------------------------------------------*/
/* chevron rotation on click */
.nav-svg-rotate-0 {
    transform: rotate(-90deg); /* Rotate the icon 180 degrees */
    transition: transform 0.3s ease; /* Add a smooth transition */
}
.nav-svg-rotate-90 {
    transform: rotate(0deg); /* Rotate the icon 180 degrees */
    transition: transform 0.3s ease; /* Add a smooth transition */
}
/* ----------------------------------------------------------------*/
/* icon spacing */
.chapter li>svg {
    padding: 3px 5px 3px 5px;;
    /*display: block;
    width: 100%;
    height: 100%;*/
}
/* icon feedback on hover */
.chapter li>svg:hover {
    background-color: var(--table-header-bg);
    border-radius: 3px;
    color: white /* text color */
}
/* ----------------------------------------------------------------*/
/* on open sections */
li.chapter-item.expanded + li:not([class]) {
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation: openAnimation 2s forwards;
}
@keyframes openAnimation {
    0% { height: 0px !important; }
    100% { height: 200px !important; }
}
/* ----------------------------------------------------------------*/
/* on close sections */
li.chapter-item:not(.expanded) + li:not([class]) {
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation: closeAnimation 2s forwards;
}
@keyframes closeAnimation {
    0% { height: 200px !important; }
    100% { height: 0px !important; }
    
}
/* ----------------------------------------------------------------*/
/* title and subtitle */
.summary-title-container{
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}

.summary-title{
    font-weight: bold;
    font-size: x-large;
}

.summary-subtitle{
    font-weight: normal;
    font-style: italic;
}